.tablehead2{
    font-size: xx-large;
}

td{
    color: palevioletred;
}

th{
    color: palevioletred;
}


.tablerelated{
    text-align: left;
    background-color: purple;
    
    

}
.tdvideo2{
    color: palevioletred;
    background-color: purple;
}