.header-nav{
    background-color: rgb(240, 116, 215);
    width: 100%;
    position: fixed;
    top: 0px;
}

h1{
    padding-bottom: 0.2em;
    padding-left: 1em;
    font-family: 'Times New Roman', Times, serif;
}


.searchButton{
    color:black;
}